	/*varibles*/
:root{
	/*--dark-color:#111231;*/
	--dark-color:#1f252a;
	--dark-color-light:#333453;
}

/*Globle Rules*/
a{
	text-decoration: none;
}
body{
	background-color: #eee;
}
/*-----------------------------------------------Header---------------------------------------------*/
header{
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
  background-color: white;
}
header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
  min-height: 60px;
  max-height: 60px;
}
header .container .logo a{
	display: flex;
	align-items: center;
	width: 170px;
	justify-content: space-between;
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
header .logo img{
	width: 60px;
}
header nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/*mode*/
.mode+input{
	/*position: relative;*/
	/*visibility: hidden;*/
	/*background-color: red;*/
}
label.mode{
	position: relative;
	/*z-index: 1;*/
	transition: .3s;
	cursor: pointer;
}
 label.off::after{
	font-family: "Font Awesome 5 Free";
	content: "\f185";
	font-weight: 900;
	position: absolute;
color: gold !important;
text-align: right;
left: -25px;
padding: 0 5px;
top: -12px;
width: 35px;
height: 19px;
border-radius: 30px;
background-color: black;
font-size: 10px;
display: flex;
align-items: center;
}
label.on::after{
	font-family: "Font Awesome 5 Free";
	content: "\f186";
	font-weight: 900;
	position: absolute;
color: gold !important;
text-align: left;
left: -25px;
padding: 1px 3px;
border: 1px white solid;
top: -12px;
width: 35px;
height: 19px;
border-radius: 30px;
background-color: black;
font-size: 10px;
}
label.off::before{
position: absolute;
content: '';
right: 9px;
top: -10px;
width: 15px;
height: 15px;
border-radius: 50%;
background-color: white;
z-index: 100;
transition: .3s;
}
label.on::before{
position: absolute;
content: '';
right: -8px;
top: -10px;
width: 15px;
height: 15px;
border-radius: 50%;
background-color: white;
z-index: 100;
transition: .3s;
}
header nav .icon{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 25px;
	cursor: pointer;
}
header .icon span{
	width: 100%;
	height: 2px;
	margin-bottom: 5px;
	background-color: black;
	transition: .3s;
}
header .icon span:nth-child(2){
	width: 60%;
}
header .icon:hover span:nth-child(2){
	width: 100%;
}
@media(min-width: 768px){
	header nav .icon{
		display: none;
	}
header nav ul{
	display: flex;
	flex-direction: row;
	transition: .3s;
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 39px !important;
	font-size: 16px;
	font-weight: bold;
	color: black;
	border: none !important;
}
}
@media(max-width: 767px){
	header nav ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 110%;
		left: 20px;
		list-style: none;
		padding: 0;
		font-size: 16px;
	  font-weight: bold;
	  color: black;
		margin: 0;
		background-color: #eee;
		width: 300px;
		height: 0;
		overflow: hidden;
	}
	header nav ul li:not(:last-child){
		border-bottom: 1px #777 solid;
	}
	header nav ul li{
		width: 100%;
		padding: 10px !important;
	}
	header nav ul li a, header nav ul li a:hover{
	display: block;
	color: black;
	text-decoration: none;
	font-size: 14px;
	padding: 10px;
	transition: .3s;
}
}
header nav ul li a, header nav ul li a:hover{
	display: block;
	color: black;
	text-decoration: none;
	font-size: 14px;
	padding: 10px;
	transition: .3s;
}
/*------------------------------------------End of Header---------------------------------------------*/


/*------------------------------------------Blog---------------------------------------------*/
.blog-content{
	margin: auto;
	background-color: white;
}
.blog-content .img{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 500px;
	padding:15px 0;
	overflow: hidden;
	border-radius: 10px;
}
.code{
	width: 100%;
	max-height: 299px;
	color:white;

}
.code pre{
	padding-left: 10px;
	border: 1px white solid;
	width: 100%;
	height:100%;
	max-height: 300px;
	text-align: left;

}
/*-----------------------------------------------Footer-------------------------------------------------*/
.footer{
	background-color: white;
position: relative;
}
.footer .input {
display: flex;
}
.footer .input::after{
	content: '';
	position: absolute;
	width: 1px;
	height: 60%;
	background-color: darkgrey;
	top: calc(40% / 2);
	left: 50%;
	transform: translateX(-50%);
}
@media (max-width: 767px) {
  .footer .input::after {
    display:none;
  }
   .footer div:last-of-type{
  	margin-top:20px;
  	display: flex;
  	text-align: center;
  }
}
  .footer .last {
  		display: flex;
  		width:100%;
  		justify-content: space-evenly;
  		align-items: baseline;
  		font-size: 20px;
  	}
	 .footer .last p{
		font-size: 16px;
	 }


@media(min-width:768px){
	.footer .last{
		justify-content: flex-start;
	}
	.footer .last a{
		margin-right: 20px;
	}
}
 @media(max-width: 767px){
  	.footer .media{
  		justify-content: center;
  	}
  }
.footer input, .footer input:focus{
	padding:  5px 10px;
	outline: none;
	border: 1px darkgrey solid !important;
	background-color: #2a4968 !important;
	color: white !important;
	border-top-left-radius:5px !important;
	border-bottom-left-radius:5px !important;
	border-top-right-radius:0 !important;
	border-bottom-right-radius:0 !important;
}
.footer input:focus{
	box-shadow: 0px 3px 10px #2a4968;
	outline: 1px darkblue solid;
}
.footer button,.footer button:hover{
	padding: 0 !important;
	outline: none;
	min-height: 36px;
	border: 1px darkgrey solid !important;
	background-color: #2a4968 !important;
	color: white;
	border-top-right-radius:5px !important;
	border-top-left-radius:0 !important;
	border-bottom-left-radius:0 !important;
	border-bottom-right-radius:5px !important;
}
.footer button:focus{
	margin-left: 1px;
	box-shadow: 0px 3px 10px #2a4968 !important;
	outline: 1px darkblue solid !important;
}
.footer button:focus~input{
	border-right:none !important;
}
/*--------------------------------------------- Start Dark mode ------------------------------------------*/
.dark-mode, .dark-mode *:not(a){
	background-color: var(--dark-color);
	color: white !important;
}
body.dark-mode{
	background-color:var(--dark-color-light) !important;
}
header.dark-mode{
		border-bottom: 1px white solid;
}
header.dark-mode .icon span{
	background-color: white !important;
}
 header.dark-mode a,
 header.dark-mode a:hover{
 	color: white !important;
 }

.py-5.blog.dark-mode{
	background-color:var(--dark-color-light) !important;
}
.container.dark-mode{
	background-color:var(--dark-color-light) !important;
}
.row.dark-mode{
	background-color:var(--dark-color-light) !important;
}
.code pre{
	background-color: #1f252a !important
}
.footer.dark-mode{
	border-top: 1px white solid;
}
.footer.dark-mode .last a{
	color: blue !important;
}
/*---------------------------------------------End Dark mode -------------------------------------------*/

